<a href="/inv/broken" title="Will trigger intentional exception">Error Link</a>
<% const d = new Date() 
let year = d.getFullYear() %>
<footer>
    <p class="copyright">&copy; <%= year %>, CSE 340</p>
</footer>