<h1>
    Vehicle Management
</h1>
<% if (messages) { %>
    <p class="flash-message"><%= messages %></p>
  <% } %>

  <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
  </ul>